header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: dimgray;
    margin: -0.5em;
}
.header-text {
    margin-left: 1em;
    padding: 0.5em;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-end;
}
.eda-logo {
    margin-right: 1em;
    display: inline-flex;
    align-self: center;
    max-width: 100%;
    height: auto;
}
body {
    background-color: lightslategray;
    font-family: 'Nunito';
    color: ivory;
}
a:link {
    color: ivory;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:after {
    color: ivory;
}
.page-body {
    margin-top: 0.5em;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
}
.profile-pic {
    outline: auto;
    margin: 1em;
    border-radius: 50%;
    float:right ;
    width: min-content;
    height: auto;
}
.about-body {
    max-width: 40%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.prev-body {
    max-width: 40%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.about-article {
    max-width: 80%;
    height: auto;
    padding: 0.5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}
.prev-box {
    background-color: dimgray;
    border-radius: 5px;
    display: flex;
    flex: row;
    margin: 1em;
    justify-content: center;
    }
.prev-article {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.prev-pic {
    margin: 0.5em;
    display: flex;
    max-height: 10em;
}
.main-article {
    margin: 1em;
    display: block;
    text-align: center;
}
.main-pic {
    padding-top: 0.5em;
    max-width: 100%;
    height: auto;
}
.main-article-example {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}