header {
    background-color: dimgray;
    font-family: 'Nunito';
    color:ivory;
    padding: 1em;
    margin: -0.5em;
}
body {
    background-color: lightslategray;
    font-family: 'Nunito';
    color: ivory;
}
a:link {
    color: ivory;
    text-decoration: none;
  }
a:hover {
    text-decoration: underline;
  }
.profile-pic {
    padding-top: 0.5em;
    border-radius: 50%;
    float:right ;
    max-width: 100%;
    height: auto;
}
.page-body{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
.prev-box {
    display: flex;
    max-height: 10em;
}
.prev-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex-grow: 1;
    max-height: 10em;
}
.prev-pic {
    margin: auto;
    max-height: 10em;
}
.main-article {
    margin: 1em;
    display: block;
    text-align: center;
}
.main-pic {
    padding-top: 0.5em;
    max-width: 100%;
    height: auto;
}